# LLM Provider: 'groq' or 'gemini'
LLM_PROVIDER=gemini

# Google Gemini API
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash

# Groq API
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

# Qdrant Vector Store
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=yt_transcripts
